  html, body {
    margin: 10;
  }
  input,label {
    height:35px
  }
  .form-label {
    margin-bottom: 0.1rem!important;
  }
  
  #canvasContainer {

    margin: 0 auto;
  }

  #bedInputs {
    display: none;
  }
  .btn-check:active+.btn-outline-dark, .btn-check:checked+.btn-outline-dark, .btn-outline-dark.active, .btn-outline-dark.dropdown-toggle.show, .btn-outline-dark:active {
    color: #fff;
    background-color: #444!important;
    border-color: #444!important;
  }